
@{
    ViewBag.Title = "Create";
}
@*<script type="text/javascript">


        //Declara um ObservableArray para armazenar a reposta  JSON
        self.HasSeguranca = ko.observableArray([]);
        //  GetHash(); //Chama a função que pega o hash de seguranca usando uma chamada Ajax
    </script>*@
<script type="text/javascript">
    //var FunciDados = null;
    var FunciViewModel = function () {
        var self = this;
        //Declara um observable o qual se vinculará a Interface - UI
        //self.funcionarioid = ko.observable("0");
        self.Hash = ko.observable("555");
        self.Name = ko.observable("");
        self.Idade = ko.observable("");



        //Objeto que armazena os dados entrados nos observables
        var FunciDados = {
            //funcionarioid: self.funcionarioid,
            FuncionarioHash: self.Hash,
            Nome: self.Name,
            Idade: self.Idade
        };
        //Função para raealizar o POSt
        self.save = function () {
            alert(FunciDados.Nome);
            //Chamada Ajax para inserir um funcionario

            $.ajax({
                type: "POST",
                url: "http://localhost:52675/api/Sobreviventes",
                crossDomain: true,
                data: ko.toJSON(FunciDados), //Converte os dados Observable em JSON
                contentType: "application/json",
                success: function (data) {
                    alert("Registro incluído com sucesso!");
                    //self.funcionarioid(data.funcionarioid);
                    //alert("O novo ID do Funcionário :" + self.funcionarioid());
                    // GetFuncionarios();
                },
                error: function () {
                    alert("Operação Falhou!");
                }
            });
            //fim
        };
    }
    ko.applyBindings(new FunciViewModel());
</script>
<h2>Sign up</h2>

<div class="panel panel-default">
    <div class="panel-heading">Preencha os dados e siga as intruçoes abaixo</div>
    <div class="panel-body">
        <div class="input-group input-group-sm">
            <span class="input-group-addon" id="sizing-addon3">Hash de Acesso</span>
            <input type="text" id="txthash" class="form-control" data-bind="value:$root.Hash" aria-describedby="sizing-addon3" disabled="disabled">
        </div>
        <br />
        <div class="input-group input-group-sm">
            <span class="input-group-addon" id="sizing-addon3">Nome</span>
            <input type="text" id="txtnome" class="form-control" data-bind="value:$root.Name" aria-describedby="sizing-addon3">
        </div>
        <br />
        <div class="input-group input-group-sm">
            <span class="input-group-addon" id="sizing-addon3">Idade</span>
            <input type="text" id="txtidade" class="form-control" data-bind="value:$root.Idade" aria-describedby="sizing-addon3">
        </div>
        <br />
        <div class="form-group">
            <div class="btn-group" aria-label="...">
                <button type="button" id="btsalvar" class="btn btn-default" onclick='FunciViewModel()'>Salvar</button>
            </div>
        </div>
        @*<div class="input-group input-group-sm">
                <span class="input-group-addon" id="sizing-addon2">Sexo</span>
                <span class="input-group-addon">
                    <input type="radio" aria-label="..." class="input-group-addon"><span>Masculino</span></>
                    &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;
                    <input type="radio" aria-label="..." class="input-group-addon"><span>Feminino</span></>
                </span>
            </div>*@
    </div>
    <div class="panel-footer"><p class="alert alert-danger">Decore o seu hash de segurança ele será sua chave para entrar na aplicação</p></div>
</div>
