
@{
    ViewBag.Title = "Entrar";
}

<h2>Entrar</h2>
<div class="panel panel-default" ng-controller="SobreviventeController">
    <div class="panel-heading">Preencha o seu hash e clique em entrar</div>
    <div class="panel-body">
        <form name="form">
            <div class="form-group">
                <label for="hash">Hash de segurança</label>
                <input type="password" class="form-control" id="HashSeguranca" name="HashSeguranca" placeholder="Insira seu hash obtido no momento do cadastro" data-ng-model="HashSeguranca" />
                <br />
            </div>
            <div class="navbar">
                <div class="navbar-left">
                    <button type="button" class="btn btn-default"  data-ng-click="Login();">Login</button>
                </div>
            </div>
        </form>
    </div>
</div>
