
@{
    ViewBag.Title = "Entrar";
}

<h2>Entrar</h2>
<div class="panel panel-default">
    <div class="panel-heading">Preencha o seu hash e clique em entrar</div>
    <div class="panel-body">
        <div class="input-group input-group-sm">
            <span class="input-group-addon" id="sizing-addon3">Hash de Acesso</span>
            <input type="text" class="form-control" aria-describedby="sizing-addon3" >
        </div>
        <br />
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default">Entrar</button>
        </div>
    </div>
</div>
