@{
    ViewBag.Title = "Home Page";
}

<h2>Sobre nós</h2>
<div class="pad_left1 pad_bot1">

    <div class="pad">
        <p><strong>Survivor web</strong> Somos sobreviventes do surto zumbi e criamos esse aplicativo para garantir a nossa sobrevivência nesse mundo apocalíptico. Na nossa comunidade cada pessoa tem um papel fundamental.</p>
        <p>Você é um dos sobreviventes deste mundo caótico que vivemos e está querendo fazer parte da nossa comunidade. Faça seu registro nos botoes abaixo ou se loque se já estiver cadastrado</p>
    </div>
</div>
<h2><span>Identifique-se</span></h2>
<div class="pad_left1 pad_bot1">
 @* @Html.ActionLink("Sign Up", "Register", )*@

    

</div>

    @*<div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-4">

            </div>
            <div class="col-md-4">

            </div>
        </div>*@
