
@{
    ViewBag.Title = "Create";
}

<h2>Novo</h2>

<div class="panel panel-default" ng-controller="RecursosController">
    <div class="panel-body">
        <div class="form-group">
            <label for="descricao">Descricao</label>
            <input type="text" class="form-control" id="desc" placeholder="Descricao" [required="string" ] data-ng-model="desc" />
            <label for="descricao">Quantidade</label>
            <input type="number" class="form-control" id="qtd" placeholder="Qtd" [required="number" ] data-ng-model="qtd" />
            <label for="descricao">Observacao</label>
            <textarea rows="4" cols="50" class="form-control" id="obs" [required="string" ] data-ng-model="obs"></textarea>
        </div>
        <div class="navbar">
            <div class="navbar-left">
                <button type="button" class="btn btn-default" data-ng-click="saveSubs();">Salvar</button>
            </div>
        </div>

    </div>
</div>