@model WebAppZombieResources.ViewModels.SobreviventeViewModel
@{
    ViewBag.Title = "Editar Recurso";
}

<h2>Editar</h2>
<div class="panel panel-default" ng-controller="RecursosController" ng-init="editRecurso()">
    <div class="panel-body">
        @if (HttpContext.Current.User.Identity.IsAuthenticated)
            {
            <ol class="breadcrumb">
                <li>Bem vindo @HttpContext.Current.User.Identity.Name</li>
                <li><a href="@Url.Action("Logoff", "Login")" class="btn btn-default">Sair</a></li>
            </ol>
        }
        <form name="form">
            <div class="form-group">
                <input type="text" class="form-control" id="Id" name="" ng-hide="true" data-ng-model="Id" />
                <input type="number" class="form-control" id="IdUser" name="IdUser" ng-hide="true" value="@Model.Id" />
                <label for="descricao">Descricao</label>
                <input type="text" class="form-control" id="desc" name="desc"  data-ng-model="Descricao" required />
                <span ng-class="alert alert-danger" ng-show="form.desc.$error.required">Descricao é obrigatória</span>
                <br />
                <label id="qtdBd" ng-hide="true" name="qtdBd" data-ng-model="Quantidade"></label>
                <label for="quantTotal">Quantidade Total</label>
                <input type="number" class="form-control" id="qtd" name="qtd"  data-ng-model="Quantidade" ng-disabled="true"  />
                <br />
                <label for="quantDebt">Quantidade Retirada</label>
                <input type="number" class="form-control" id="qtddebit" ng-blur="controlaSaldos(Quantidade);" name="qtddebit" data-ng-model="QtdDeb" />
                <span ng-class="alert alert-dange" ng-show="form.qtddebit == 0 || form.qtd < form.qtddebit ">Saldo insuficiente</span>
                <br />
                <label for="descricao">Observacao</label>
                <textarea rows="4" cols="50" class="form-control" id="obs" data-ng-model="Observacao"></textarea>
            </div>
            <div class="navbar">
                <div class="navbar-left">
                    <button type="button" class="btn btn-default" ng-disabled="!form.$valid" data-ng-click="updRecurso();">Salvar</button>
                </div>
            </div>
        </form>
    </div>
</div>
<center>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Recursos")" class="btn btn-default">Principal</a></li>
    </ol>
</center>