
@{
    ViewBag.Title = "Recursos";
}


<h2>Recursos</h2>
<div ng-controller="RecursosController">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Recursos</div>
        <div class="panel-body">

            <table class="table">
                <tr>
                    <th>Descrição</th>
                    <th>Qtd</th>
                    <th>Observação</th>
                </tr>
                <tr ng-repeat="recurso in listaRecursos">
                    <td>{{recurso.Descricao}}</td>
                    <td>{{recurso.Quantidade}}</td>
                    <td>{{recurso.Observacao}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
</div>